{
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier", "@typescript-eslint"],
  "extends": ["airbnb-typescript", "react-app", "prettier"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".ts", ".tsx"] }],
    "react/prop-types": 0,
    "no-shadow": 0,
    "@typescript-eslint/no-shadow": 0,
    "react/jsx-props-no-spreading": 0,
    "import/prefer-default-export": 0
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
